html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000 !important;
    color: #f2e9d8 !important;
    scroll-behavior: smooth;
}


header, footer, section, article, div, nav {
  background-color: transparent !important; 
  color: inherit;
}

.hero {
    margin: 0;
    top: 0;
    left: 0;
    height: 100vh; 
    width: 100%; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f2e9d8;
}


.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* semi-transparent */
}

.hero-title {
    position: relative;
    z-index: 2;
    max-width: 60%;
    height: auto;
    animation: fadeIn 2s ease-in-out;
    will-change: transform;
    transform: translateY(var(--hero-title-translate, 0));
}

.hero-astarion {
    position: absolute;
    bottom: 0;
    right: 5%;
    max-width: 25%;
    height: auto;
    z-index: 1;
    animation: fadeIn 2s ease-in-out;
    will-change: transform;
    left: 70%;
    transform: translateY(var(--hero-astarion-translate, 0));
}



